@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-bg-color:#fbfbfe;
    --secondary-bg-color:#00bf63;
    --primary-text-color:black;
    --secondary-text-color:#434345;
    --primary-heading-color:black;
    --secondary-heading-color:#434345;
    --text-font-fmaily:'Roboto', sans-serif;
    --heading-font-family: 'Manrope', sans-serif;
    --border-box-shadow:rgba(99, 99, 99, 0.2);
    --green-hover-color:#00a84e;
    
}

button{
    background-color: var(--secondary-bg-color);
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    font-size: clamp(0.7rem, 0.4937rem + 2.0253vw, 1.2rem);
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
button:hover{
    background-color: var(--green-hover-color);
}