.hero__section__wrapper{
    background: rgb(229,249,239);
    background: linear-gradient(90deg, rgba(229,249,239,1) 10%, rgba(154,245,195,1) 32%, rgba(184,244,210,1) 53%, rgba(154,245,195,1) 78%, rgba(229,249,239,1) 93%);
}
.text__gradient{
    background: linear-gradient(to right, #07b262 0%, #c66e0f 50%, #8425dd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card{
    box-shadow: 
        rgba(196, 201, 195, 0.06) -4px -4px 4px 0px , /* Top */
        rgba(142, 142, 142, 0.06) 4px 4px 4px 0px ,  /* Bottom */
        rgba(142, 142, 142, 0.06) 4px 0px 4px 0px ;  /* Right */
}